ul.navbar{
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden
}

.navbar > li{
  float: left;
}

.navbar> li a{
  display: block;
  padding:8px;

}

.App{
  width:80%;
  margin:auto;
  margin-top:40px;
}
ul.ulContainer li {
  list-style: none;
  border: 1px solid #f1efef;
  padding: 1px;
  margin: 9px;
  padding-left: 10px;
}

ul.success li{
  color:green !important;
}

ul.error li{
  color:red
}
